:root {
    --js: #F7DF1E;
    --html: #E34F26;
    --css: #264DE4;
    --nodejs: #339933;
    --ts:  #007ACC;
    --react: #61DAFB;
    --white: white;
}

#body {
    /* background-color: rgb(247, 233, 46); */
    margin: 0px !important;
    background-color: rgb(24, 21, 21);
}

/*-----------box----------*/

.box {
    margin: 0px !important;
    display: flex;
    justify-content: space-around;
    border-bottom: 01px solid rgb(158, 156, 156);
}

.menu {
    margin: 15px 0px 15px 0px;
    font-weight: 600;
    align-self: center;
    text-align: center;
}

.menu:hover {
    cursor: pointer;
}

.javascript {
    color: var(--js);
}

.html {
    color: var(--html);
}

.css {
    color: var(--css);
}

.nodejs {
    color: var(--nodejs);
}

.typescript {
    color: var(--ts);
}

.react {
    color: var(--react);
}

.howto {
    color: var(--white);
}

.bi-justify-icon {
    color: var(--white);
    font-size: 18px;;
}

