#body {
    background-color: rgb(247, 233, 46);
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    color: aliceblue;
}

.wrapper:hover {
    cursor: pointer;
}